.wrapper{
    /* display:flex; */
    /* justify-content: center; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* This is so we can have a start screen */
#player1, .result, .counter, #roll, #restart{
    visibility: hidden;
}
